body {
    font-family: Rubik, sans-serif;
    background-color: #EFEFEF;
}

.text-primary {
    color: #57AFE4 !important;
}

.text-warning {
    color: #EFA61C !important;
}

.text-gray {
    color: #BDBDBD;;
}

.btn-primary {
    background-color: #57AFE4 !important;
    border-color: #57AFE4;
}

.btn-primary:hover {
    border-color: #57AFE4;
}

.bg-primary-light {
    background-color: #CBEBF8;
}

.btn-primary-light {
    background-color: #57AFE4 !important;
    color: white;
}

.btn-success {
    background-color: #62CB74 !important;
}

.btn-success-light {
    background-color: #D4F6D8 !important;
    color: #62CB74;
}

.btn-warning {
    background-color: #EFA61C !important;
}

.bg-warning {
    background-color: #EFA61C !important;
}

.border-primary {
    border-color: #57AFE4 !important;
}

.border-success {
    border-color: #62CB74 !important;
}

.bg-gray {
    background-color: #E2E2E2 !important;
}

tr.bg-gray th {
    background-color: #E2E2E2 !important;
}

.badge-warning {
    background-color: #EFA61C !important;
}

.border-warning {
    border-color: #EFA61C !important;
}

.bg-warning-light {
    background-color: #F0E3CD;
}

.nav-link {
    color: #6c757d;
}

.nav-link:hover {
    color: #57AFE4;
}

.nav-link.active {
    border-color: #57AFE4 !important;
    border-width: 4px !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: black !important;
}

.profile {
    width: 100px;
    height: 100px;
    font-size: 60px;
    display: table;
    background-color: #E2E2E2;
    color: #BDBDBD;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}

@media (min-width: 992px) {
    .position-md-relative {
        position: relative;
    }

    .position-md-absolute {
        position: absolute;
    }

    .in-right {
        right: 0;
    }
}